@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Ubuntu:wght@300&display=swap&family=Homemade+Apple&display=swap');

:root {
  --gold: #d5ad36;
}

.App {
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.gold,
h1::first-letter,
h2::first-letter {
  color: var(--gold);
}

.nav-item.gold:hover {
  color: var(--gold);
  text-decoration: none;
  border-bottom: 1px solid var(--gold);
}

.bg-gold {
  background-color: var(--gold);
}

/* General */

body,
form > * {
  font-family: Ubuntu, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.component {
  margin-bottom: 30px;
}

h1,
.header-font,
.initials,
h2::first-letter {
  font-family: 'Major Mono Display';
}

.signature {
  font-family: 'Homemade Apple';
  font-size: larger;
  margin-bottom: 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #333, var(--gold), #333);
}

/* Intro */

.card {
  border: var(--gold) 3px double;
  background-color: rgba(0, 0, 0, 0.3);
}

/* About Me */

/* Portfolio */

/* Contact */
#contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/bg-contact.jpg') center center/cover;
}

textarea {
  resize: none;
}

/* Footer */
footer {
  border-top: 1px solid var(--gold);
  background-color: rgba(0, 0, 0, 0.3);
}

.initials {
  font-size: 32px;
}

.icon {
  font-size: 32px;
  color: #eaeaea;
}

.icon:hover {
  color: #d5ad36;
}
